In [1]:
import pandas as pd
import numpy as np

In [2]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [3]:
file1.shape

(4008, 11)

In [4]:
file2.shape

(996, 11)

In [5]:
file3.shape

(7070, 11)

In [6]:
#Rearrange the columns in the dataframe as needed
file3 = file3.rename(columns={'State':'ST',
                            'Gender':'GENDER'})
file2 = file2[file1.columns]
file3 = file3[file1.columns]

In [7]:
file1['Customer Lifetime Value'] = file1['Customer Lifetime Value'].str.replace('%','')
file2['Customer Lifetime Value'] = file2['Customer Lifetime Value'].str.replace('%','')
file1['Customer Lifetime Value'] = pd.to_numeric(file1['Customer Lifetime Value'], errors = 'coerce')
file2['Customer Lifetime Value'] = pd.to_numeric(file2['Customer Lifetime Value'], errors = 'coerce')
file3['Customer Lifetime Value'] = pd.to_numeric(file3['Customer Lifetime Value'], errors = 'coerce')
file1['Customer Lifetime Value'] = file1['Customer Lifetime Value']/100
file2['Customer Lifetime Value'] = file2['Customer Lifetime Value']/100

In [8]:
data = pd.concat([file1, file2, file3], axis=0)
data.shape

(12074, 11)

In [9]:
numerical = data.select_dtypes(['int64','float64'])

In [10]:
categorical = data.select_dtypes(['object'])

In [11]:
data = data.drop(['Education','Number of Open Complaints'], 1)

/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_55628/287011401.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop(['Education','Number of Open Complaints'], 1)

In [12]:
data['Customer Lifetime Value'].head()

0           NaN
1     6979.5359
2    12887.4317
3     7645.8618
4     5363.0765
Name: Customer Lifetime Value, dtype: float64

In [13]:
data['Customer Lifetime Value'].value_counts(dropna=False)

NaN             2944
6521.368813        6
4270.034394        6
22332.439460       6
25464.820590       6
                ...
9407.452895        1
7477.176362        1
15700.284360       1
2968.077571        1
2611.836866        1
Name: Customer Lifetime Value, Length: 8206, dtype: int64

In [14]:
data.isna().sum()

Customer                   2937
ST                         2937
GENDER                     3059
Customer Lifetime Value    2944
Income                     2937
Monthly Premium Auto       2937
Policy Type                2937
Vehicle Class              2937
Total Claim Amount         2937
dtype: int64

In [15]:
data.dtypes

Customer                    object
ST                          object
GENDER                      object
Customer Lifetime Value    float64
Income                     float64
Monthly Premium Auto       float64
Policy Type                 object
Vehicle Class               object
Total Claim Amount         float64
dtype: object

In [16]:
categorical = data.select_dtypes(np.object)
numerical = data.select_dtypes(np.number)

/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_55628/1952071912.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = data.select_dtypes(np.object)

In [17]:
data['Customer Lifetime Value'] = data['Customer Lifetime Value'].round(2)
data['Customer Lifetime Value']

0            NaN
1        6979.54
2       12887.43
3        7645.86
4        5363.08
          ...
7065    23405.99
7066     3096.51
7067     8163.89
7068     7524.44
7069     2611.84
Name: Customer Lifetime Value, Length: 12074, dtype: float64

In [18]:
data = data.drop_duplicates()

In [19]:
data.isna().sum()

Customer                     1
ST                           1
GENDER                     123
Customer Lifetime Value      8
Income                       1
Monthly Premium Auto         1
Policy Type                  1
Vehicle Class                1
Total Claim Amount           1
dtype: int64

In [22]:
data[data['Income'] <= 0]

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.54,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,7645.86,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,7216.10,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,4738.99,0.0,67.0,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
7059,WZ45103,California,F,5678.05,0.0,76.0,Personal Auto,Four-Door Car,364.800000
7061,RX91025,California,M,19872.26,0.0,185.0,Personal Auto,SUV,1950.725547
7062,AC13887,California,M,4629.00,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
7067,TD14365,California,M,8163.89,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7069,Y167826,California,M,2611.84,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [20]:
data[data['Income'] > 0]

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
2,AI49188,Nevada,F,12887.43,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,5363.08,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,8256.30,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,5380.90,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,24127.50,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
7063,TF56202,California,M,5032.17,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
7064,YM19146,California,F,4100.40,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
7065,LA72316,California,M,23405.99,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.51,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7068,UP19263,California,M,7524.44,21941.0,96.0,Personal Auto,Four-Door Car,691.200000